Two Observable Trends in the data

In [45]:
#import pandas
import pandas as pd

In [46]:
#load file "purchase_data_copy.csv"
load_file = "purchase_data_copy.csv"

#read csv file into panda data frame
purchase_data_df = pd.read_csv(load_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [47]:
#player count, display total number of players, count 
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [65]:
purchase_data_df["SN"].value_counts()
print(purchase_data_df["SN"].count())

780

In [68]:
#unique
unique = purchase_data_df["Item Name"].unique()
unique

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [53]:
#avg price
average = purchase_data_df["Price"].mean()
average

3.050987179487176

In [57]:
#number of purchase 
purchase_data_df["Purchase ID"].value_counts()
print(purchase_data_df["Purchase ID"].count())

780

In [58]:
#total revenue
total = purchase_data_df["Price"].sum()
total

2379.77

In [62]:
#summary of above
summary_data = {
    "Total Players": [708],
    "Number Of Unique Items": [900],
    "Average Price": [305],
    "Number Of Purchase": [708],
    "Total Revenue": [2379.77]
}
info_summary = pd.DataFrame(summary_data, columns=["Total Players", "Number Of Unique Items", "Average Price", "Number Of Purchase", "Total Revenue"])
info_summary

,Total Players,Number Of Unique Items,Average Price,Number Of Purchase,Total Revenue
0,708,900,305,708,2379.77