Two Observable Trends in the data

In [2]:
#import pandas
import pandas as pd

In [3]:
#load file "purchase_data_copy.csv"
load_file = "purchase_data_copy.csv"

#read csv file into panda data frame
purchase_data_df = pd.read_csv(load_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#breakdown of data with duplicates
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
#data without duplicates
purchase_clean_df = purchase_data_df.drop_duplicates()
purchase_clean_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [73]:
#Find total number of players
purchase_data_df["SN"].drop_duplicates()
print(purchase_data_df["SN"].drop_duplicates())

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object

In [7]:
#create summary of total number of players
total_player_data = {
    "Total Players": [576]
}
info_summary = pd.DataFrame(total_player_data, columns=["Total Players"])
info_summary

   Total Players
0            576

In [8]:
#unique
unique = purchase_data_df["Item Name"].unique()
unique

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [9]:
#find unique items, used duplicate to ensure number is accurate
duplicate = purchase_clean_df["Item Name"].drop_duplicates()
duplicate

0      Extraction, Quickblade Of Trembling Hands
1                              Frenzied Scimitar
2                                   Final Critic
3                                    Blindscythe
4                                           Fury
                         ...
664                  Alpha, Reach of Ending Hope
673                                        Alpha
700                                     Betrayer
717     Winterthorn, Defender of Shifting Worlds
727                           Gladiator's Glaive
Name: Item Name, Length: 179, dtype: object

In [10]:
#avg price
average = purchase_data_df["Price"].mean()
average

3.050987179487176

In [97]:
#number of purchase 
number_of = purchase_data_df["Purchase ID"].value_counts()
print(purchase_data_df["Purchase ID"].count())

780

In [98]:
#total revenue
total = purchase_data_df["Price"].sum()
total

2379.77

In [100]:
#summary of above
summary_data = {
    "Total Players": [576],
    "Number Of Unique Items": [179],
    "Average Price": [3.05],
    "Number Of Purchase": [780],
    "Total Revenue": [2379.77]
}
info_summary = pd.DataFrame(summary_data, columns=["Total Players", "Number Of Unique Items", "Average Price", "Number Of Purchase", "Total Revenue"])
info_summary

,Total Players,Number Of Unique Items,Average Price,Number Of Purchase,Total Revenue
0,576,179,3.05,780,2379.77

In [14]:
unique_players = purchase_data_df.loc[:,["Gender", "SN"]].drop_duplicates()
gender_df = unique_players["Gender"].value_counts()
gender_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [15]:
#find percentages us total players

In [102]:
#Create gender summary table with total coun and percentage
gender_data = {
    "Total Count": [484, 81, 11],
    "Percentage Of Players": [100, 100, 100]
}
gender_summary = pd.DataFrame(gender_data, columns=["Total Count", "Percentage Of Players"])
gender_summary

   Total Count  Percentage Of Players
0          484                    100
1           81                    100
2           11                    100

In [17]:
#breakdown gender by loc and getting rid of duplicates
analysis_gender = purchase_data_df.loc[:,["Gender", "Purchase ID"]].drop_duplicates()
analysis_df = analysis_gender["Gender"].value_counts()
analysis_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [18]:
#average purchase price per gender

analysis_gender = purchase_data_df.loc[:,["Gender", "Price"]]
analysis_gender

men = analysis_gender.loc[analysis_gender["Gender"] == "Male", :]
print(men)

average_men = men["Price"].mean()
average_men 

female = analysis_gender.loc[analysis_gender["Gender"] == "Female", :]
print(female)

average_female = female["Price"].mean()
average_female 

other = analysis_gender.loc[analysis_gender["Gender"] == "Other / Non-Disclosed", :]
print(other)

average_other = other["Price"].mean()
average_other

    Gender  Price
0     Male   3.53
1     Male   1.56
2     Male   4.88
3     Male   3.27
4     Male   1.44
..     ...    ...
774   Male   4.19
776   Male   1.63
777   Male   3.46
778   Male   4.19
779   Male   4.60

[652 rows x 2 columns]
     Gender  Price
15   Female   2.89
18   Female   4.90
38   Female   4.18
41   Female   1.33
55   Female   3.79
..      ...    ...
731  Female   1.02
740  Female   3.92
754  Female   4.05
767  Female   4.88
775  Female   3.54

[113 rows x 2 columns]
                    Gender  Price
9    Other / Non-Disclosed   3.58
22   Other / Non-Disclosed   3.81
82   Other / Non-Disclosed   4.40
111  Other / Non-Disclosed   4.75
228  Other / Non-Disclosed   3.39
237  Other / Non-Disclosed   3.55
242  Other / Non-Disclosed   3.94
291  Other / Non-Disclosed   3.45
350  Other / Non-Disclosed   2.22
401  Other / Non-Disclosed   1.33
484  Other / Non-Disclosed   3.94
549  Other / Non-Disclosed   3.10
629  Other / Non-Disclosed   2.18
637  Other / Non-Disclosed   3.45
747  Other / Non-Disclosed   3.10

3.3460000000000005

In [19]:
#total purchase value by gender
total_gender = purchase_data_df.loc[:,["Gender", "Price"]]
analysis_gender

men_sum = total_gender.loc[analysis_gender["Gender"] == "Male", :]
print(men_sum)

sum_men = men["Price"].sum()
sum_men

female_sum = total_gender.loc[analysis_gender["Gender"] == "Female", :]
print(female_sum)

sum_female = female["Price"].sum()
sum_female

other_sum = total_gender.loc[analysis_gender["Gender"] == "Other / Non-Disclosed", :]
print(female_sum)

sum_other = other["Price"].sum()
sum_other

    Gender  Price
0     Male   3.53
1     Male   1.56
2     Male   4.88
3     Male   3.27
4     Male   1.44
..     ...    ...
774   Male   4.19
776   Male   1.63
777   Male   3.46
778   Male   4.19
779   Male   4.60

[652 rows x 2 columns]
     Gender  Price
15   Female   2.89
18   Female   4.90
38   Female   4.18
41   Female   1.33
55   Female   3.79
..      ...    ...
731  Female   1.02
740  Female   3.92
754  Female   4.05
767  Female   4.88
775  Female   3.54

[113 rows x 2 columns]
     Gender  Price
15   Female   2.89
18   Female   4.90
38   Female   4.18
41   Female   1.33
55   Female   3.79
..      ...    ...
731  Female   1.02
740  Female   3.92
754  Female   4.05
767  Female   4.88
775  Female   3.54

[113 rows x 2 columns]

50.19

In [20]:
#average total purchase per person

In [21]:
#gender summary table with purchase counts, avg purchase price, total purchase value, and avg total purchase per person
gender_summary_data = {
    "Purchase Count": [113, 652, 15],
    "Average Purchase Price": [3.20, 3.02, 3.35],
    "Total Purchase Value": [361.94, 1967.64, 50.19],
    "Avg Total Purchase Per Person": [100, 100, 100]
}
gender_breakdown = pd.DataFrame(gender_summary_data, columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"])

gender_breakdown

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,113,3.20,361.94,100
1,652,3.02,1967.64,100
2,15,3.35,50.19,100

In [23]:
#establish bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", 
                "35-39", "40+"]

In [84]:
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [25]:
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

45
7

In [85]:
#pd cut for bins

purchase_data_df["Age"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count
0,15-19,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,35-39,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56,35-39
2,20-24,Ithergue48,20-24,Male,92,Final Critic,4.88,20-24
3,20-24,Chamassasya86,20-24,Male,100,Blindscythe,3.27,20-24
4,20-24,Iskosia90,20-24,Male,131,Fury,1.44,20-24

In [111]:
#summary table of total count, percentage of players by age

In [117]:
#purchase count 576, 
age_group = purchase_data_df.groupby("Age")
print(age_group["Total Count"].unique())
age_group[["Total Count", "Age"]].count()

Age
<10          [<10]
Categories (1, object): [<10]
10-14    [10-14]
Categories (1, object): [10-14]
15-19    [15-19]
Categories (1, object): [15-19]
20-24    [20-24]
Categories (1, object): [20-24]
25-29    [25-29]
Categories (1, object): [25-29]
30-34    [30-34]
Categories (1, object): [30-34]
35-39    [35-39]
Categories (1, object): [35-39]
40+          [40+]
Categories (1, object): [40+]
Name: Total Count, dtype: object

       Total Count  Age
Age
<10             32   32
10-14           54   54
15-19          200  200
20-24          325  325
25-29           77   77
30-34           52   52
35-39           33   33
40+              7    7

In [90]:
#use 780 data, avg purchase price
age_average = purchase_data_df.groupby("Age")
age_group[["Price", "Age"]].mean()

          Price
Age
<10    3.405000
10-14  2.900000
15-19  3.107800
20-24  3.020431
25-29  2.875584
30-34  2.994423
35-39  3.404545
40+    3.075714

In [122]:
#total purchase value
total_purchase_value = purchase_data_df.groupby("Age")
age_group[["Price", "Age"]].sum()

        Price
Age
<10    108.96
10-14  156.60
15-19  621.56
20-24  981.64
25-29  221.42
30-34  155.71
35-39  112.35
40+     21.53

In [123]:
#avg. total purchase per person
total_purchase_value = purchase_data_df.groupby("Age")
age_group[["Price", "Age", "SN"]].mean()

          Price
Age
<10    3.405000
10-14  2.900000
15-19  3.107800
20-24  3.020431
25-29  2.875584
30-34  2.994423
35-39  3.404545
40+    3.075714

In [118]:
age_data_table = pd.DataFrame({"Purchase Cost": age_group})
age_data_table

ValueError: If using all scalar values, you must pass an index