Two Observable Trends in the data

In [295]:
#import pandas
import pandas as pd

In [296]:
#load file "purchase_data_copy.csv"
load_file = "purchase_data_copy.csv"

#read csv file into panda data frame
purchase_data_df = pd.read_csv(load_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [397]:
#breakdown of data with duplicates
purchase_data_df.describe()

       Purchase ID     Item ID       Price
count   780.000000  780.000000  780.000000
mean    389.500000   91.755128    3.050987
std     225.310896   52.697702    1.169549
min       0.000000    0.000000    1.000000
25%     194.750000   47.750000    1.980000
50%     389.500000   92.000000    3.150000
75%     584.250000  138.000000    4.080000
max     779.000000  183.000000    4.990000

In [398]:
#Find total number of players without duplicates
purchase_data_df["SN"].drop_duplicates()
print(purchase_data_df["SN"].drop_duplicates())

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object

In [399]:
#create summary of total number of players
total_player_data = {
    "Total Players": [576]
}
info_summary = pd.DataFrame(total_player_data, columns=["Total Players"])
info_summary

   Total Players
0            576

In [400]:
#unique number of items
unique = purchase_data_df["Item Name"].unique()
unique

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [401]:
#find unique items, used duplicate to ensure number is accurate
duplicate = purchase_data_df["Item Name"].drop_duplicates()
duplicate

0      Extraction, Quickblade Of Trembling Hands
1                              Frenzied Scimitar
2                                   Final Critic
3                                    Blindscythe
4                                           Fury
                         ...
664                  Alpha, Reach of Ending Hope
673                                        Alpha
700                                     Betrayer
717     Winterthorn, Defender of Shifting Worlds
727                           Gladiator's Glaive
Name: Item Name, Length: 179, dtype: object

In [402]:
#avg price for purchasing total
average = purchase_data_df["Price"].mean()
average

3.050987179487176

In [403]:
#number of purchase for purchasing total
number_of = purchase_data_df["Purchase ID"].value_counts()
print(purchase_data_df["Purchase ID"].count())

780

In [404]:
#total revenue for purchasing total
total = purchase_data_df["Price"].sum()
total

2379.77

In [405]:
#summary of purchasing total
summary_data = {
    "Total Players": [576],
    "Number Of Unique Items": [179],
    "Average Price": [3.05],
    "Number Of Purchase": [780],
    "Total Revenue": [2379.77]
}
info_summary = pd.DataFrame(summary_data, columns=["Total Players", "Number Of Unique Items", "Average Price", "Number Of Purchase", "Total Revenue"])
info_summary["Average Price"] = info_summary["Average Price"].map("${:,.2f}".format)
info_summary["Total Revenue"] = info_summary["Total Revenue"].map("${:,.2f}".format)
info_summary

,Total Players,Number Of Unique Items,Average Price,Number Of Purchase,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [406]:
#gender demographics breakdown of total count
unique_players = purchase_data_df.loc[:,["Gender", "SN"]].drop_duplicates()
gender_df = unique_players["Gender"].value_counts()
gender_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [407]:
#find percentages of total players by gender
unique_players = purchase_data_df.loc[:,["Gender", "SN"]].drop_duplicates()
gender_df = unique_players["Gender"].value_counts()
gender_df

percent = (gender_df / 576) 
percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [408]:
#Create gender summary table with total count and percentage for gender

gender_breakdown_df = pd.DataFrame({"Total Count": gender_df, "Percentage": percent})
gender_breakdown_df["Percentage"] = gender_breakdown_df["Percentage"].map("{:,.2%}".format)
gender_breakdown_df

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%

In [409]:
#purchasing analysis by gender breakdown gender by loc and getting rid of duplicates
analysis_gender = purchase_data_df.loc[:,["Gender", "Purchase ID"]].drop_duplicates()
analysis_df = analysis_gender["Gender"].value_counts()
analysis_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [410]:
#average purchase price per gender

analysis_gender = purchase_data_df.loc[:,["Gender", "Price"]]
analysis_gender

men = analysis_gender.loc[analysis_gender["Gender"] == "Male", :]
print(men)

average_men = men["Price"].mean()
average_men 

female = analysis_gender.loc[analysis_gender["Gender"] == "Female", :]
print(female)

average_female = female["Price"].mean()
average_female 

other = analysis_gender.loc[analysis_gender["Gender"] == "Other / Non-Disclosed", :]
print(other)

average_other = other["Price"].mean()
average_other

    Gender  Price
0     Male   3.53
1     Male   1.56
2     Male   4.88
3     Male   3.27
4     Male   1.44
..     ...    ...
774   Male   4.19
776   Male   1.63
777   Male   3.46
778   Male   4.19
779   Male   4.60

[652 rows x 2 columns]
     Gender  Price
15   Female   2.89
18   Female   4.90
38   Female   4.18
41   Female   1.33
55   Female   3.79
..      ...    ...
731  Female   1.02
740  Female   3.92
754  Female   4.05
767  Female   4.88
775  Female   3.54

[113 rows x 2 columns]
                    Gender  Price
9    Other / Non-Disclosed   3.58
22   Other / Non-Disclosed   3.81
82   Other / Non-Disclosed   4.40
111  Other / Non-Disclosed   4.75
228  Other / Non-Disclosed   3.39
237  Other / Non-Disclosed   3.55
242  Other / Non-Disclosed   3.94
291  Other / Non-Disclosed   3.45
350  Other / Non-Disclosed   2.22
401  Other / Non-Disclosed   1.33
484  Other / Non-Disclosed   3.94
549  Other / Non-Disclosed   3.10
629  Other / Non-Disclosed   2.18
637  Other / Non-Disclosed   3.45
747  Other / Non-Disclosed   3.10

3.3460000000000005

In [411]:
#total purchase value by gender
total_gender = purchase_data_df.loc[:,["Gender", "Price"]]
analysis_gender

men_sum = total_gender.loc[analysis_gender["Gender"] == "Male", :]
print(men_sum)

sum_men = men["Price"].sum()
sum_men

female_sum = total_gender.loc[analysis_gender["Gender"] == "Female", :]
print(female_sum)

sum_female = female["Price"].sum()
sum_female

other_sum = total_gender.loc[analysis_gender["Gender"] == "Other / Non-Disclosed", :]
print(female_sum)

sum_other = other["Price"].sum()
sum_other

    Gender  Price
0     Male   3.53
1     Male   1.56
2     Male   4.88
3     Male   3.27
4     Male   1.44
..     ...    ...
774   Male   4.19
776   Male   1.63
777   Male   3.46
778   Male   4.19
779   Male   4.60

[652 rows x 2 columns]
     Gender  Price
15   Female   2.89
18   Female   4.90
38   Female   4.18
41   Female   1.33
55   Female   3.79
..      ...    ...
731  Female   1.02
740  Female   3.92
754  Female   4.05
767  Female   4.88
775  Female   3.54

[113 rows x 2 columns]
     Gender  Price
15   Female   2.89
18   Female   4.90
38   Female   4.18
41   Female   1.33
55   Female   3.79
..      ...    ...
731  Female   1.02
740  Female   3.92
754  Female   4.05
767  Female   4.88
775  Female   3.54

[113 rows x 2 columns]

50.19

In [209]:
#average total purchase per person

In [412]:
#gender summary table with purchase counts, avg purchase price, total purchase value, and avg total purchase per person
gender_summary_data = {
    "Purchase Count": [113, 652, 15],
    "Average Purchase Price": [3.20, 3.02, 3.35],
    "Total Purchase Value": [361.94, 1967.64, 50.19],
    "Avg Total Purchase Per Person": [100, 100, 100]
}
gender_breakdown = pd.DataFrame(gender_summary_data, columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"])
gender_breakdown

# gender_summary_data = pd.DataFrame({"Purchase Count": analysis_df, "Average Purchase Price": men, female, other "Total Purchase Value":sum_men, female_sum, sum_other})
# #gender_breakdown_df["Percentage"] = gender_breakdown_df["Percentage"].map("{:,.2%}".format)
# gender_summary_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,113,3.20,361.94,100
1,652,3.02,1967.64,100
2,15,3.35,50.19,100

In [413]:
#establish bins for ages
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", 
                "35-39", "40+"]

In [429]:
#pd.cut for bins
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

TypeError: '<' not supported between instances of 'int' and 'str'

In [387]:
#summary table of total count, percentage of players by age

In [430]:
#purchase total count 576 for ages using bins, 
age_group = purchase_data_df.groupby("Age")
total_count_age = age_group["SN"].nunique()
percent_age = (total_count_age/576)
percent_age

Age
<10      0.041667
10-14    0.071181
15-19    0.260417
20-24    0.402778
25-29    0.102431
30-34    0.064236
35-39    0.045139
40+      0.012153
Name: SN, dtype: float64

In [431]:
#total count and percentage of players broken down by age
age_summary_table = pd.DataFrame({"Percentage": percent_age, "Total Count": total_count_age})
age_summary_table["Percentage"] = age_summary_table["Percentage"].map("{:,.2%}".format)
age_summary_table

      Percentage  Total Count
Age
<10        4.17%           24
10-14      7.12%           41
15-19     26.04%          150
20-24     40.28%          232
25-29     10.24%           59
30-34      6.42%           37
35-39      4.51%           26
40+        1.22%            7

In [426]:
#purchase analaysis purchase count data
age_average = purchase_data_df.groupby("Age")
age_group[["Purchase ID"]].count()

       Purchase ID
Age
<10             32
10-14           54
15-19          200
20-24          325
25-29           77
30-34           52
35-39           33
40+              7

In [427]:
#purchase analaysis average purchase price data
total_purchase_value = purchase_data_df.groupby("Age")
age_group[["Price"]].mean()

          Price
Age
<10    3.405000
10-14  2.900000
15-19  3.107800
20-24  3.020431
25-29  2.875584
30-34  2.994423
35-39  3.404545
40+    3.075714

In [428]:
#purchase analysis total purchase value
total_purchase_value = purchase_data_df.groupby("Age")
age_group[["Price"]].sum()

        Price
Age
<10    108.96
10-14  156.60
15-19  621.56
20-24  981.64
25-29  221.42
30-34  155.71
35-39  112.35
40+     21.53

In [ ]:
#average total purchase per person
avg_total_purchase =

In [373]:
#age analysis table
age_data_table = pd.DataFrame({"Purchase Cost": age_group})
age_data_table

ValueError: If using all scalar values, you must pass an index

In [221]:
#check original data set
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44

In [222]:
#top spenders data broken down, drop duplicates
spenders = purchase_data_df.drop_duplicates()
spenders

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,15-19,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,92,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [223]:
#focus on SN, Price, Purchase ID
top_spender_eliminate = spenders[["SN", "Price", "Purchase ID"]]
top_spender_eliminate

                SN  Price  Purchase ID
0          Lisim78   3.53            0
1      Lisovynya38   1.56            1
2       Ithergue48   4.88            2
3    Chamassasya86   3.27            3
4        Iskosia90   1.44            4
..             ...    ...          ...
775     Aethedru70   3.54          775
776         Iral74   1.63          776
777     Yathecal72   3.46          777
778        Sisur91   4.19          778
779      Ennrian78   4.60          779

[780 rows x 3 columns]

In [435]:
#group top spenders by total purchase count
spender_groups = top_spender_eliminate.groupby(["SN", "Purchase ID", "Price"])
spender_comparison = spender_groups.count()
spender_comparison

Empty DataFrame
Columns: []
Index: [(Adairialis76, 467, 2.28), (Adastirin33, 142, 4.48), (Aeda94, 388, 4.91), (Aela59, 28, 4.32), (Aelaria33, 630, 1.79), (Aelastirin39, 218, 3.15), (Aelastirin39, 766, 4.14), (Aelidru27, 705, 1.09), (Aelin32, 52, 3.54), (Aelin32, 87, 3.4), (Aelin32, 584, 2.04), (Aelly27, 43, 4.18), (Aelly27, 428, 2.61), (Aellynun67, 286, 3.74), (Aellyria80, 746, 3.08), (Aelollo59, 203, 2.49), (Aelollo59, 431, 3.14), (Aenarap34, 183, 2.96), (Aeral43, 263, 4.4), (Aeral68, 674, 4.0), (Aeral97, 167, 4.8), (Aeralria27, 32, 4.09), (Aeralstical35, 583, 2.96), (Aeri84, 303, 1.61), (Aerillorin70, 381, 3.33), (Aerithllora36, 274, 4.9), (Aerithllora36, 578, 3.74), (Aerithnucal56, 324, 4.4), (Aerithnuphos61, 517, 4.91), (Aerithriaphos45, 40, 1.56), (Aerithriaphos46, 236, 2.18), (Aesri53, 541, 1.76), (Aesty53, 124, 2.85), (Aesty53, 253, 1.06), (Aestysu37, 309, 3.97), (Aestysu37, 416, 1.41), (Aesur96, 468, 2.21), (Aesurstilis64, 405, 1.03), (Aethedru70, 775, 3.54), (Aidai53, 219, 4.6), (Aidai61, 282, 1.01), (Aidai73, 720, 3.08), (Aidaillodeu39, 42, 3.77), (Aidaillodeu39, 146, 4.09), (Aidain51, 516, 3.45), (Aidaira26, 730, 4.23), (Aiduecal76, 97, 4.5), (Aiduecal76, 670, 3.08), (Aiduesu86, 429, 4.48), (Aillyriadru65, 523, 1.1), (Aillyrin83, 155, 2.89), (Aina42, 83, 1.02), (Aina42, 363, 3.85), (Aina42, 373, 4.35), (Aina43, 94, 3.09), (Airi27, 637, 3.45), (Aisur51, 184, 1.14), (Aisurdru79, 440, 2.42), (Aisurdru79, 618, 1.09), (Aisurria69, 423, 1.79), (Aithelis62, 703, 4.4), (Aithelis62, 760, 2.38), (Alaephos75, 295, 4.84), (Alaesu77, 494, 2.49), (Alaesu91, 285, 3.45), (Alarap40, 391, 3.27), (Ali84, 360, 2.61), (Ali84, 635, 1.7), (Alim85, 226, 2.5), (Alo38, 63, 1.0), (Anallorgue57, 272, 4.09), (Anallorgue57, 311, 1.61), (Ardcil81, 398, 3.09), (Ardcil81, 544, 2.49), (Ardonmol96, 566, 1.55), (Arin32, 627, 4.23), (Arin32, 734, 4.86), (Arirgue63, 470, 1.7), (Assassa81, 631, 3.39), (Assassasta79, 270, 1.75), (Assassasta79, 768, 4.88), (Assastnya25, 565, 4.48), (Assehoan67, 258, 1.75), (Assesi91, 420, 1.54), (Assilsan72, 666, 4.9), (Assim27, 761, 1.7), (Assirra56, 587, 3.19), (Assistasda42, 73, 4.32), (Assistasda42, 351, 1.6), (Assistasda90, 460, 4.35), (Assjaskan56, 79, 2.96), (Assjaskan73, 13, 1.7), (Assosia88, 41, 1.33), (Assylla81, 729, 4.18), (Asty82, 680, 3.09), (Asur53, 390, 2.42), (Asur53, 762, 1.44), (Asur53, 772, 3.58), (Asur96, 48, 4.74), (Baelollodeu94, 178, 4.6), ...]

[780 rows x 0 columns]

In [433]:
#group top spenders by average purchase price
spender_groups_avg = top_spender_eliminate.groupby(["SN", "Price"])
spender_comparison_avg = spender_groups_avg.mean()
spender_comparison_avg

                    Purchase ID
SN           Price
Adairialis76 2.28           467
Adastirin33  4.48           142
Aeda94       4.91           388
Aela59       4.32            28
Aelaria33    1.79           630
...                         ...
Zhisrisu83   3.54           141
             4.35            54
Zontibe81    1.76            17
             2.48           560
             3.79           442

[779 rows x 1 columns]

In [436]:
#group top spenders by total purchase value
spender_groups_total = top_spender_eliminate.groupby(["SN", "Price"])
spender_comparison_total = spender_groups_total.sum()
spender_comparison_total

                    Purchase ID
SN           Price
Adairialis76 2.28           467
Adastirin33  4.48           142
Aeda94       4.91           388
Aela59       4.32            28
Aelaria33    1.79           630
...                         ...
Zhisrisu83   3.54           141
             4.35            54
Zontibe81    1.76            17
             2.48           560
             3.79           442

[779 rows x 1 columns]

In [ ]:
#create top spenders summary table

In [226]:
#sorting by top spenders
top_spenders = spender_comparison.sort_values(["SN"], ascending=True)
top_spenders

Empty DataFrame
Columns: []
Index: [(Adairialis76, 467, 2.28), (Adastirin33, 142, 4.48), (Aeda94, 388, 4.91), (Aela59, 28, 4.32), (Aelaria33, 630, 1.79), (Aelastirin39, 218, 3.15), (Aelastirin39, 766, 4.14), (Aelidru27, 705, 1.09), (Aelin32, 87, 3.4), (Aelin32, 584, 2.04), (Aelin32, 52, 3.54), (Aelly27, 43, 4.18), (Aelly27, 428, 2.61), (Aellynun67, 286, 3.74), (Aellyria80, 746, 3.08), (Aelollo59, 203, 2.49), (Aelollo59, 431, 3.14), (Aenarap34, 183, 2.96), (Aeral43, 263, 4.4), (Aeral68, 674, 4.0), (Aeral97, 167, 4.8), (Aeralria27, 32, 4.09), (Aeralstical35, 583, 2.96), (Aeri84, 303, 1.61), (Aerillorin70, 381, 3.33), (Aerithllora36, 274, 4.9), (Aerithllora36, 578, 3.74), (Aerithnucal56, 324, 4.4), (Aerithnuphos61, 517, 4.91), (Aerithriaphos45, 40, 1.56), (Aerithriaphos46, 236, 2.18), (Aesri53, 541, 1.76), (Aesty53, 124, 2.85), (Aesty53, 253, 1.06), (Aestysu37, 416, 1.41), (Aestysu37, 309, 3.97), (Aesur96, 468, 2.21), (Aesurstilis64, 405, 1.03), (Aethedru70, 775, 3.54), (Aidai53, 219, 4.6), (Aidai61, 282, 1.01), (Aidai73, 720, 3.08), (Aidaillodeu39, 42, 3.77), (Aidaillodeu39, 146, 4.09), (Aidain51, 516, 3.45), (Aidaira26, 730, 4.23), (Aiduecal76, 670, 3.08), (Aiduecal76, 97, 4.5), (Aiduesu86, 429, 4.48), (Aillyriadru65, 523, 1.1), (Aillyrin83, 155, 2.89), (Aina42, 83, 1.02), (Aina42, 363, 3.85), (Aina42, 373, 4.35), (Aina43, 94, 3.09), (Airi27, 637, 3.45), (Aisur51, 184, 1.14), (Aisurdru79, 618, 1.09), (Aisurdru79, 440, 2.42), (Aisurria69, 423, 1.79), (Aithelis62, 703, 4.4), (Aithelis62, 760, 2.38), (Alaephos75, 295, 4.84), (Alaesu77, 494, 2.49), (Alaesu91, 285, 3.45), (Alarap40, 391, 3.27), (Ali84, 360, 2.61), (Ali84, 635, 1.7), (Alim85, 226, 2.5), (Alo38, 63, 1.0), (Anallorgue57, 311, 1.61), (Anallorgue57, 272, 4.09), (Ardcil81, 398, 3.09), (Ardcil81, 544, 2.49), (Ardonmol96, 566, 1.55), (Arin32, 627, 4.23), (Arin32, 734, 4.86), (Arirgue63, 470, 1.7), (Assassa81, 631, 3.39), (Assassasta79, 270, 1.75), (Assassasta79, 768, 4.88), (Assastnya25, 565, 4.48), (Assehoan67, 258, 1.75), (Assesi91, 420, 1.54), (Assilsan72, 666, 4.9), (Assim27, 761, 1.7), (Assirra56, 587, 3.19), (Assistasda42, 73, 4.32), (Assistasda42, 351, 1.6), (Assistasda90, 460, 4.35), (Assjaskan56, 79, 2.96), (Assjaskan73, 13, 1.7), (Assosia88, 41, 1.33), (Assylla81, 729, 4.18), (Asty82, 680, 3.09), (Asur53, 772, 3.58), (Asur53, 762, 1.44), (Asur53, 390, 2.42), (Asur96, 48, 4.74), (Baelollodeu94, 178, 4.6), ...]

[780 rows x 0 columns]

In [227]:
#most popular items, eliminate columns for pop items, break down by item ID, item name, purchase count, item price, total purchase value
pop_items = spenders[["Item ID", "Item Name", "Price"]]
pop_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [258]:
#retrieve item ID, Item Name, Item price and group them together for calculations
pop_item_groups = pop_items.groupby(["Item ID", "Item Name"])
pop_item_groups.head()
pop_item_data = pop_item_groups["Item Name"].count()
pop_item_data

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item Name, Length: 179, dtype: int64

In [ ]:
#most popular items for purchase count

In [ ]:
#most popular items for item price

In [288]:
#most popular items total purchase value
pop_item_price = pop_items.groupby(["Item Name","Price"])
pop_item_price.head()
pop_item_price_data = pop_item_price["Price"].sum()
pop_item_price_data.head(20)

Item Name                             Price
Abyssal Shard                         2.67     13.35
Aetherius, Boon of the Blessed        3.39     16.95
Agatha                                3.08     18.48
Alpha                                 2.07      6.21
Alpha, Oath of Zeal                   4.05     12.15
Alpha, Reach of Ending Hope           3.58      3.58
Amnesia                               2.18     13.08
Apocalyptic Battlescythe              1.97     11.82
Arcane Gem                            3.79     11.37
Avenger                               3.44     20.64
Azurewrath                            4.40     26.40
Betrayal, Whisper of Grieving Widows  3.94     19.70
Betrayer                              2.94      2.94
Blade of the Grave                    3.14     12.56
Blazefury, Protector of Delusions     4.64     13.92
Blazeguard, Reach of Eternity         4.91     24.55
Blindscythe                           3.27     16.35
Blood Infused Guardian                1.94     11.64
Blood-Forged Skeletal Spine           3.09     18.54
Bloodlord's Fetish                    1.70      8.50
Name: Price, dtype: float64

In [ ]:
#sort by most profitable items the above table, sort by total purchase value in descending order